/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/*end*/


body {
    overflow-x: hidden;
    font-size: 18px;
    line-height: normal;
    color: #224390;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

h1,
.h1 {
    font-size: 72px;
}

h2,
.h2 {
    font-size: 48px;
}

h3,
.h3 {
    font-size: 30px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 18px;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extrabold {
    font-weight: 800;
}


p {
    margin-top: 0;
    margin-bottom: 1.4em;
}

.img-responsive{ max-width: 100%; height: auto; }

::-webkit-input-placeholder {
    /* Edge */
    color: #224390;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #224390;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

::placeholder {
    color: #224390;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.title-section {
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
}

/* Main menu navigation */
.nav-sab {
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 9;
    top: 0;
    transition: background 0.6s;
}


.nav-sab.transparent {
    background: transparent;
}

.nav-sab.fixed,
.nav-sab.fixed.transparent {
    background: #21408b;
}

.nav-sab.fixed .text-menu,
.nav-sab.transparent .text-menu,
.nav-sab.fixed.transparent .text-menu {
    color: #fff
}

.nav-sab.fixed a img{ width: 52px; height: 51px; }

.nav-sab .nav li {
    display: inline-block;
}

.nav-sab .nav-list li {
    padding-left: 20px;
}

.nav-sab .nav-list a {
    color: #224390;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
}

.nav-sab.transparent .nav-list a,
.nav-sab.fixed .nav-list a {
    color: #fff;
}


.nav-sab .nav-list a.active:after {
    width: 100%;
    height: 1px;
    background: #224390;
}

.nav-sab .nav-list a:hover:after {
    background: #224390;
    width: 100%;
}

.nav-sab.transparent .nav-list a:hover:after,
.nav-sab.fixed .nav-list a:hover:after {
    background: #fff
}

.nav-sab .nav-list a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #224390;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.nav-sab.transparent .nav-list a:after,
.nav-sab.fixed .nav-list a:after {
    background: #fff
}

/* Mobile */
@media (max-width: 480px) {
    #mainnav{visibility: hidden;}
    .d-sm-none{display: none}
    .text-menu {
        position: relative;
        z-index: 100;
    }
    .text-menu span{
        background: #224390;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .nav-sab.mobile-menu .text-menu span, .nav-sab.fixed .text-menu span{background: #4161a9;}

    .menu {
        position: fixed;
        z-index: 13;
        background: #21408b;
        color: #232323;
        height: 100%;
        width:250px;
        top: 0;
        right: -250px;
        -webkit-transition: right 0.1s;
        transition: right 0.1s;
        padding: 60px 20px 20px 20px;
        visibility: hidden;
        opacity: 0
    }

    .menu ul {
        padding: 0;
    }

    .menu li {
        list-style-type: none;
        padding: 10px 0px;
    }

    .nav-sab.fixed .nav-list a,
    .nav-sab .nav-list a,
    .nav-sab.mobile-menu .text-menu,
    .menu.nav-list.slide-menu a {
        color: #fff;
    }

    .slide-menu {
        right: 0 !important;
        opacity: 1;
        visibility: visible;
    }

    .slide-menu .d-sm-none{display: block;}
}


.nav-sab .nav-round a {
    background: #A5B2D2;
    background-image: linear-gradient(#a9b6d4, #899bc4);
    display: inline-block;
    text-align: center;
    line-height: 48px;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    padding: 0;
    margin-left: 10px;
    font-size: 20px;
    color: #FFFFFF;
    transition: background 0.45s;

}

.nav-sab .nav-round a:hover {
    background-image: linear-gradient(#8495bc, #6f7c9a);
}

.nav-works-sab {
    line-height: 40px;
}

.nav-works-sab {
    background: #FFFFFF;
    width: auto;
    padding: 0px 0;
    z-index: 9;
    margin-top: 130px;
}

.nav-works-sab li {
    padding-left: 0px;
}

.nav-works-sab a {
    color: #224390;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 600;
    display: block;
}

.nav-works-sab a:hover:after {
    background: #224390;
    width: 100%;
}

.nav-works-sab a.active {
    opacity: .5
}

.nav-works-sab a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #224390;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

section {
    clear: both;
    overflow: hidden;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: solid 1px #E5E5E5;
}

.sab-hr {
    background: url("../../../images/hr.png") no-repeat center;
    height: 36px;
}

.space20 {
    height: 20px;
    display: block;
}

.space30 {
    height: 30px;
    display: block;
}

.space40 {
    height: 40px;
    display: block;
}

.space50 {
    height: 50px;
    display: block;
}

.space60 {
    height: 60px;
    display: block;
}

.space70 {
    height: 70px;
    display: block;
}

.space80 {
    height: 80px;
    display: block;
}

/*
@media (max-width: 768px) {
    p {
        font-size: 12px;
    }
}*/

.abs-state {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 812px) {
    .hidden-xs {
        display: none !important;
    }
}

.visible-xs {
    display: none !important;
}

@media (max-width: 480px) {
    .visible-xs {
        display: block !important;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.img-middle {
    vertical-align: middle;
}

.hide {
    visibility: hidden;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.full-image {
    width: 100%;
}

.btn {
    padding: 15px 30px;
    border: solid 2px #A0A0A0;
    text-decoration: none;
    color: #A0A0A0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    opacity: 0.5;
}



.btn.btn-white:hover,
.btn:hover {
    opacity: 1;
    background: #224390;
    border: solid 2px #224390;
    cursor: pointer;
    color: #FFFFFF;
}

.btn.btn-black {
    background: #000000;
    opacity: 1;
    border: transparent;
    font-size: 18px;
}

.btn.btn-green {
    background: #5acf9e;
    opacity: 1;
    border: transparent;
    font-size: 18px;
    font-weight: 600;
    font-weight: 600;
    color: #127149;
    width: 100%;
}

.btn.btn-white {
    background: #FFFFFF;
    opacity: 1;
    border: transparent;
    font-size: 24px;
    font-weight: 600;
    color: #224390;
    width: 100%;
}

.btn.btn-small {
    padding: 10px 20px;
}

.form-default {
    padding: 15px;
    width: 100%;
    box-shadow: none;
    font-size: 15px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: transparent;
}

.form-default:focus,
.form-default:hover,
.form-default:active {
    box-shadow: none;
    outline-offset: 0;
    outline: none;
    /*opacity: 0.5;*/
}

.link-white {
    color: white;
}

.link-white:hover {
    opacity: 0.5;
}

.opacity50 {
    opacity: 0.5;
}


/* header */
section.hero-images {
    padding-top: 173px;
    background: white;
    background: -moz-linear-gradient(top, white 87%, #224390 49%, #224390 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(87%, white), color-stop(49%, #224390), color-stop(100%, #224390));
    background: -webkit-linear-gradient(top, white 87%, #224390 49%, #224390 100%);
    background: -o-linear-gradient(top, white 87%, #224390 49%, #224390 100%);
    background: -ms-linear-gradient(top, white 87%, #224390 49%, #224390 100%);
    background: linear-gradient(to bottom, white 87%, #224390 49%, #224390 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#224390', GradientType=0);
}

section.hero-images .item {
    position: relative;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hero-images .item .item-name,
section.hero-images .item .item-whale,
section.hero-images .item .item-city {
    position: absolute;
}

section.hero-images .item .item-name {
    top: 0;
    margin-left: -12em;
}


@media (max-width: 768px) {
    section.hero-images .item .item-name {
        left: 0;
        padding: 15px;
        margin-left: 0;
    }
}

section.hero-images .item .item-whale {
    left: 15%;
    top: 17%;
}

@media (max-width: 768px) {
    section.hero-images .item .item-whale {
        left: -60%;
    }
}

section.hero-images .item-name h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    section.hero-images .item-name h1 {
        font-size: 64px;
    }
}

@media (max-width: 480px) {
    .header-sab-slide .item-name{ width: 85%; }
    section.hero-images .item-name h1 {
        font-size: 34px;
    }
}

section.hero-images .item-name p {
    margin-top: 0;
}

section.hero-images .city-img {
    width: 100% !important;
    display: block !important;
    margin: 0 auto;
}

section.hero-images .whale-img {
    width: 80% !important;
    display: block !important;
}

@media (max-width: 768px) {
    section.hero-images .whale-img {
        width: 500px !important;
    }
}

#parallax {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-city-hero-images {
    position: relative;
    background: url("../../../images/city.png") no-repeat top center;

}

.bg-hero-images {
    position: relative;
    background: url("../../../images/paus.svg") no-repeat top center;
    height: 675px;
    background-position-y: 30px;
}


/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-pagination{ z-index: 8 }
.swiper-pagination-bullet {
    width: 2px;
    height: 30px;
    display: inline-block;
    border-radius: 0;
    background: #516ba7;
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #516ba7;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 21px 0;
    display: block;
    text-indent: -30px;
    font-weight: bold;
}


.header-sab-slide {
    padding: 0;
    position: relative;
    height: 240px;
    overflow: hidden;
}

.hero-images .swiper-pagination {
    top: 50%;
    right: 0;
    text-align: left;
}

@media (max-width: 1024px) {
    .hero-images .swiper-pagination {
        top: 30%;
    }

    .bg-hero-images {
        background-position: top right
    }
}

@media (max-width: 480px) {
    .hero-images .swiper-pagination{ right: 20px; }
    .bg-hero-images{background-position-y: 70px;}
    .header-sab-slide .swiper-slide {
        width: 90%;
        margin-left: 20px;
        margin-top: 10px;
    }

}

.about-sab {
    padding: 50px 0;
    padding-bottom: 100px;
    background: #224390;
    color: #FFFFFF;
}

.about-sab h2 {
    font-size: 48px;
    font-weight: bold;
}

/* Count number */
.count-sab {
    margin-top: 20px;
}

.sab-service-page .count-sab {
    margin-top: 90px;
}

.count-sab h2 {
    font-weight: normal;
    margin: 0;
    color: #5acf9e
}


/* Client */
.client-sab {
    list-style: none;
    text-align: center;
}

.client-sab li {
    display: inline-block;
    margin: 0 17px;
    width: 170px;
}

.client-sab .swiper-button-next,
.client-sab .swiper-button-prev {
    position: absolute;
    top: 30%;
    width: 17px;
    height: 30px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 17px 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.client-sab-slide .client-sab-next,
.client-sab-slide .client-sab-prev {
    opacity: 0;
}

.client-sab-slide:hover .client-sab-next,
.client-sab-slide:hover .client-sab-prev {
    opacity: 1;
}


.sab-work-page .client-sab .swiper-button-next,
.sab-work-page .client-sab .swiper-button-prev {
    top: 18%;
}

/* Testimonials */
.testimony-sab {
    margin-top: 50px;
    position: relative;
    height: 864px;
    overflow: hidden;

}

.testimony-sab img {
    width: 100%;
}

.testimony-sab-slide {
    padding: 0;
    position: relative;
    width: 690px;
    height: 370px;
    margin: 255px auto;
    overflow: hidden;
}

.testimony-sab h2 {
    font-family: 'Dancing Script', cursive;
}

@media (min-width: 1200px) {
    .testimony-sab {
        background: url("../../../images/people.jpg") no-repeat center;
    }
}

.testimony-sab .swiper-slide {
    background: #fff
}

.testimony-sab h2 {
    margin-bottom: 35px;
}

.testimony-sab .swiper-slide p {
    width: 80%;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 1em
}

.testimony-sab .swiper-container-vertical>.swiper-pagination-bullets {
    right: -10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
}

/* with number*/
.testimony-sab .swiper-pagination{ top: 23px; right: 0; left: 0; width: auto; }
.testimony-sab .swiper-pagination-current, .swiper-pagination-total{ font-weight: bold; }
.testimony-sab .swiper-pagination-current:before{content: "0"}
.testimony-sab .swiper-pagination-total:before{content: "0"}
.testimony-sab .swiper-pagination-fraction .sp-line{ display: inline-block; margin:0 10px;  width: 100px; height: 2px; vertical-align: middle; background-color: #a8b5d3 }

.testimony-sab .swiper-button-next, .testimony-sab .swiper-container-rtl .swiper-button-prev{    
    background-image: url("../../../images/next.svg");
    right: 0px;
    left: auto;
}
.testimony-sab .swiper-button-prev, .testimony-sab .swiper-container-rtl .swiper-button-next {
    background-image: url("../../../images/back.svg");
    right: 40px;
    left: auto;
}
.testimony-sab .swiper-button-next, .testimony-sab .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 8;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1024px) {
    .testimony-sab {
        height: auto;
    }

    .testimony-sab-slide {
        width: auto;
        margin: 40px auto;
    }
}

@media (max-width: 480px) {

    .testimony-sab-slide {
        padding: 0;
        height: 300px;
        position: relative;

    }

    .testimony-sab .swiper-container-vertical>.swiper-pagination-bullets {
        right: 10px;
        top: 50%;
        -webkit-transform: translate3d(0px, -50%, 0);
        transform: translate3d(0px, -50%, 0);
    }

    /*with number*/
    .testimony-sab .swiper-pagination{ left: auto; }
    .testimony-sab .swiper-pagination-fraction .sp-line {
        display: inline-block;
        margin: 0 10px 0 5px;
        width: 30px;
    }
}


/* Work*/

.works-sab .swiper-slide {
    position: relative;
    width: 450px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.works-sab .swiper-button-next,
.works-sab .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 90px;
    height: 90px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(34,67,144,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(34,67,144,1);
    box-shadow: 0px 0px 5px 0px rgba(34,67,144,1);
}

.works-sab .swiper-button-next {
    background-image: url("../../../images/nav-swift-r.jpg");
    left: 10px;
    right: auto;
}

.works-sab .swiper-button-prev,
.works-sab .swiper-container-rtl .swiper-button-next {
    display: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
}

.works-sab .swiper-button-next,
.works-sab .swiper-container-rtl .swiper-button-prev {
    background-image: url("../../../images/nav-swift-r.jpg");
    right: 20vw;
    left: auto;
}

.works-sab .swiper-container {
    padding-bottom: 0px;
    width: 80vw;
    height: auto;
    margin-bottom: 30px;
}

.works-sab .swiper-container img {
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    border: solid 1px #ccc;
    opacity: .25;
}

.works-sab .swiper-pagination {
    top: 0;
    right: 20vw;
    left: auto;
    width: auto;
    height: auto;
    z-index: 1
}

@media (min-width: 1440px) {
    .works-sab .swiper-slide-next img {
        opacity: 1;
    }
}

.works-sab .swiper-slide-active img {
    opacity: 1;
}

.works-sab .swiper-pagination-current,
.works-sab .swiper-pagination-total {
    display: inline-block;
    font-weight: bold;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.works-sab .swiper-pagination-current:before {
    content: "0"
}

.works-sab .swiper-pagination-total:before {
    content: "0"
}

.works-sab .swiper-pagination-fraction .sp-line {
    display: inline-block;
    margin: 0 10px;
    width: 100px;
    height: 2px;
    vertical-align: middle;
    background-color: #a8b5d3
}
@media only screen and (max-width: 1024px) {
    .nav-works-sab a {
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    .nav-works-sab a {
        font-size: 10px;
    }
}

@media only screen and (max-width: 479px) {

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .works-sab .mar-btm-80 p{ padding-right: 20px; padding-left: 20px;}

    .works-sab .swiper-slide{ width: 400px; }
    .nav-works-sab{ text-align: left; margin-top: 0; display: none;}
    .works-sab .swiper-pagination-fraction .sp-line{ margin: 0 5px 0 0; width: 30px;}
    .works-sab .swiper-pagination{
        right: 0;
        top: 4px;
    }
    .works-container h3{ text-align: left; font-size: 28px; }
    .works-sab .swiper-container {
        width: 100%
    }

    .works-sab .swiper-container img {
        opacity: 1;
        padding: 0;
        border: 0
    }
    .works-sab .swiper-button-next, .works-sab .swiper-button-prev{
        width: 60px;
        height: 60px;
        background-size: contain;
    }



}

.works-sab .swiper-wrapper {
    z-index: 2
}

.swiper-desc {
    background: rgba(34, 67, 144, 0.8);
    position: absolute;
    width: 420px;
    height: 620px;
    top: 10px;
    left: 15px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0
}

.works-sab .swiper-slide-active:hover .swiper-desc,
.works-sab .swiper-slide-next:hover .swiper-desc {
    opacity: 1
}

.swiper-desc * {
    color: #fff;
}

.swiper-content {
    padding: 20px;
}

@media (max-width: 767px) {
    .works-sab {
        text-align: center;
    }
}

/* Tech */
.tools-sab h3 {
    font-size: 24px;
}

.technology-sab h2 {
    font-size: 48px;
}

/*
@media (max-width: 768px) {
    .technology-sab h2 {
        font-size: 24px;
    }
}*/

.tools-sab .col-lg-4 {
    border: solid 1px #A5B2D2;
    padding: 40px;
    border-top: transparent;
    border-left: transparent;
}

.tools-sab .col-lg-4 img{ margin-bottom: 20px; max-width: 100%; height: 94px; }

@media (min-width: 1024px) {
    .tools-sab .col-lg-4:nth-child(3n) {
        border-right: transparent;
    }
}

@media (min-width: 769px) {

    .tools-sab .col-lg-4.no-border-btm {
        border-bottom: transparent;
    }
}

@media (max-width: 480px) {
    .tools-sab .col-lg-4 {
        border-right: transparent;
    }
    .tools-sab .col-lg-4 { border-width: 1px 0px; }
}

/*  News */
.news-sab h2 {
    font-size: 48px;
}

/*
@media (max-width: 768px) {
    .news-sab h2 {
        font-size: 24px;
    }
}*/

.news-sab h3 {
    margin: 5px 0 0;
    font-size: 24px;
    font-weight: 700;
}

.news-sab img {
    width: 100%;
    margin-bottom: 20px;
}

.news-sab p {
    margin-top: 20px;
}

.news-sab .box-date .box-number,
.news-sab .box-date .box-month {
    float: left;
}


.news-sab .box-date .box-number {
    font-size: 48px;
    font-weight: 500;
    line-height: 0.9;
    margin-right: 10px;
}

.news-sab .box-date .month-top {
    text-transform: uppercase;
}

.news-sab .box-date .box-month .month-top,
.news-sab .box-date .box-month .year-bottom {
    float: left;
    width: 100%;
    display: block;
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
}

/* Contact */

.contact-sab {
    margin: 70px 0 0;
}

.contact-sab h2 {
    font-size: 37px;
    font-weight: 700;
    text-align: left
}
.contact-sab p{ font-size:14px; text-align: left; margin-bottom: 30px;  }
/*
@media (max-width: 768px) {
    .contact-sab h2 {
        font-size: 24px;
    }
}*/

.contact-sab .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.contact-sab [class*="col-"] {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;

}

.contact-sab .bg-blue-sab {
    background: #224390;
    color: #FFFFFF;
}

.contact-sab .contact-details-sab {
    padding: 10% 0;
    max-width: 55%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .contact-sab .contact-details-sab {
        padding: 12% 0;
        max-width: 80%;
    }
}

.contact-sab .contact-details-sab a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.contact-sab .contact-details-sab a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #FFFFFF;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.contact-sab .contact-details-sab a:hover:after {
    background: #FFFFFF;
    width: 100%;
}

.contact-sab .container-map {
    width: 100%;
    margin: 0 auto;
    display: inline;
}

.container-map .map {
    display: block;
    height: 100%;
    background: url('../../../images/map-sab.jpg') no-repeat;
    background-position: center center;
}

.contact-sab #map_container {
    position: relative;
}

.contact-sab #map {
    height: 100px;
    overflow: hidden;
    padding-bottom: 25%;
    padding-top: 50%;
    position: relative;
}

.service-sab {
    margin: 0 auto;
    padding: 100px 0;
    background: #0a2460;
}

.service-sab .button-sab-center {
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
}

/* CLOUDY */
.icon-wrapper {
    position: relative;
    height: 120px;
}

.cloudy {
    animation: cloudy 1s ease-in-out infinite;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@keyframes cloudy {
    50% {
        transform: translateY(-5px);
    }
}

/* PULSE */
.pulse {
    -webkit-animation: pulse 5s linear infinite;
    animation: pulse 5s linear infinite;
}

/* FLOAT */

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.float {
    -webkit-animation: float 1s linear infinite;
    animation: float 1s linear infinite;
}

/* BOUNCE */

@-webkit-keyframes bounce {

    0%,
    10%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    10%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.bounce {
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

@keyframes horizontal {
    0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    6% {
        -webkit-transform: translate(5px, 0);
        -ms-transform: translate(5px, 0);
        transform: translate(5px, 0);
    }

    12% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    18% {
        -webkit-transform: translate(5px, 0);
        -ms-transform: translate(5px, 0);
        transform: translate(5px, 0);
    }

    24% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    30% {
        -webkit-transform: translate(5px, 0);
        -ms-transform: translate(5px, 0);
        transform: translate(5px, 0);
    }

    36% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.horizontal {
    -webkit-animation: horizontal 2s ease infinite;
    animation: horizontal 2s ease infinite;
}

@keyframes vertical {
    0% {
        -webkit-transform: translate(0, -3px);
        -ms-transform: translate(0, -3px);
        transform: translate(0, -3px);
    }

    4% {
        -webkit-transform: translate(0, 3px);
        -ms-transform: translate(0, 3px);
        transform: translate(0, 3px);
    }

    8% {
        -webkit-transform: translate(0, -3px);
        -ms-transform: translate(0, -3px);
        transform: translate(0, -3px);
    }

    12% {
        -webkit-transform: translate(0, 3px);
        -ms-transform: translate(0, 3px);
        transform: translate(0, 3px);
    }

    16% {
        -webkit-transform: translate(0, -3px);
        -ms-transform: translate(0, -3px);
        transform: translate(0, -3px);
    }

    20% {
        -webkit-transform: translate(0, 3px);
        -ms-transform: translate(0, 3px);
        transform: translate(0, 3px);
    }

    22% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.vertical {
    -webkit-animation: vertical 2s ease infinite;
    animation: vertical 2s ease infinite;
}



/*** Service Page ***/
.header-service {
    padding: 0;
    min-height: 500px;
    background: #224390 url('../../../images/header-service.jpg') no-repeat;
    color: #FFFFFF;
    background-size: cover;
    background-position: 80% 50%;
}

.page-title {
    padding-top: 180px;
    padding-left: 0px;
    max-width: 700px
}

.page-title.center {
    padding-top: 120px;
    padding-left: 0px;
    max-width: 100%;
    text-align: center;
}

.title-default {
    font-weight: 700;
    font-size: 48px;
}

.sab-work-page .title-default {
    margin-top: 24px
}

.bold {
    font-weight: 700;
}

.our-process h2:before {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: #224390;
    position: absolute;
    left: -80px;
    top: 35px
}

.process-list {
    margin: 30px 0 0 0
}

.process-list li {
    margin-bottom: 30px
}
.img-our-process{ overflow: hidden; }
.img-our-process img {
    margin-top: 70px;
    display: block
}

.blue-section {
    background: #224390;
}

.blue-section * {
    color: #fff;
}

.blue-section i {
    display: block;
    margin-bottom: 30px;
}

.servis-category {
    padding: 80px 0 30px 0
}

.servis-category h3 {
    font-size: 24px;
}

.servis-category svg path {
    fill: #7f91bd;
}

.servis-category img.svg {
    width: 80px
}

.services-section-sab {
    margin-top: 50px;
}

.services-section-sab i {
    display: block;
    margin-bottom: 30px;
}

.tdesc {
    margin-bottom: 60px
}

/*** About Page ***/
.profile-sab h3 {
    font-size: 36px;
}

.sab-about-page .container-map {
    height: 420px;
    overflow: hidden;
    text-align: center;
    border: solid 1px #fff
}

.sab-about-page .container-map img {
    position: relative;
    top: -330px;
}

dl.info {
    margin-bottom: 50px;
}

dl.info dt {
    float: left;
    font-weight: 700;
    margin-right: 10px;
    padding: 5px;
    clear: left;
    font-size: 24px;
    width: 300px;
    margin-bottom: 20px
}

dl.info dt.expand {
    width: auto;
}

dl.info dd {
    margin: 0px 0 20px 0;
    padding: 5px 0;
    font-size: 24px
}

.team-list {
    margin: 0 auto 30px auto;
    text-align: center;
}

.team-list li {
    text-align: center;
    display: inline-block;
    margin-right: 72px;
    vertical-align: top;
}

.team-list li.last {
    margin-right: 0
}

.team-list img {
    display: block;
    height: 128px;
    width: 128px;
    border-radius: 128px;
    margin-bottom: 32px;
    border: solid 7px #fff;
    transition: border-color 0.3s;
    cursor: pointer;
}

.team-list .tojoin {
    display: block;
    height: 128px;
    width: 128px;
    border-radius: 128px;
    line-height: 128px;
    margin-bottom: 32px;
    background: #f3f7ff
}

.team-list .tojoin i {
    font-size: 35px;
    line-height: 128px;
    color: #90a1c7
}

.team-list li.current img,
.team-list img:hover {
    border-color: #3d6ad1;
}

.team-list .name {
    font-size: 24px;
    display: block;
    padding-bottom: 10px;
}

.team-list .position {
    font-size: 15px;
    color: #224390;
    opacity: .7
}

.info-people-section {

    background: #f6f8fe;
    margin: 60px 0 60px 0
}

.info-people-section img {
    display: block;
}

.info-people-section .container {
    padding: 0
}

.info-people {
    padding: 60px
}

.info-people h5 {
    font-size: 48px;
    margin-bottom: 0;
}

.info-people h6 {
    font-size: 30px;
    opacity: .7;
    margin-bottom: 40px
}

.sp {
    padding: 0 0 0 20px
}

.sp i {
    font-size: 30px;
    color: #224390;
    vertical-align: middle;
}

.profile-sab #map {
    height: 490px;
    width: 100%;
}

/* Works Page */
.sab-work-page .hero-images {
    background: url(../../../images/works-hero-images.jpg) no-repeat;
    color: #FFFFFF;
    background-size: 100% 100%;
    padding-top: 153px;
}

.sab-work-page .hero-images .container {
    margin-bottom: 60px;
}

.sab-work-page .hero-images h2 {
    font-weight: 700;
    margin-bottom: 50px;
}

.sab-work-page .hero-images p {
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 0
}

.sab-work-page section.hero-images img {
    border-radius: 10px;
    max-width: 100%;
}

.sab-work-page .hero-images .hero-slider,
.sab-work-page .hero-images .hero-slider .col-sm-9 {
    padding: 0;
}

.sab-work-page .hero-images .hero-slider {
    margin-bottom: 35px;
}

.sab-work-page .hero-images .hero-slider .items {
    -webkit-box-shadow: 0px 35px 55px -50px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 35px 55px -50px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 35px 55px -50px rgba(0, 0, 0, 0.51);
    margin-bottom: 45px;
}

.sab-work-page .hero-images .hero-slider .swiper-button-next {
    right: -200px;
    background-image: none !important;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

.sab-work-page .hero-images .hero-slider .swiper-button-next img {
    max-width: 40px;
    max-height: 25px;
}

.sab-work-page .portfolio-sab {
    margin-top: 25px;
}

.sab-work-page .portfolio-sab .filter-title {
    color: #224390;
    opacity: .5;
    margin-bottom: 40px;
}

.sab-work-page .portfolio-sab .portfolio-sab--filter-wrapper {
    border: solid #A5B2D2;
    border-width: 1px 0;
    margin-bottom: 40px;
}

.sab-work-page .portfolio-sab .portfolio-sab--row {
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
}

.sab-work-page .portfolio-sab .portfolio-sab--filter {
    display: inline-flex;
    flex-wrap: wrap;
}

.sab-work-page .portfolio-sab .portfolio-sab--filter li {
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}

.sab-work-page .portfolio-sab .portfolio-sab--row li a {
    text-decoration: none;
}

.sab-work-page .portfolio-sab .portfolio-sab--row li a,
.sab-work-page .portfolio-sab .portfolio-sab--row li a:active,
.sab-work-page .portfolio-sab .portfolio-sab--row li a:hover,
.sab-work-page .portfolio-sab .portfolio-sab--row li a:visited {
    color: #224390;
}

.sab-work-page .portfolio-sab .items {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.sab-work-page .portfolio-sab .items .items--image-wrapper {
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
    position: relative;
}

.sab-work-page .portfolio-sab .items img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}

.sab-work-page .portfolio-sab .items .items--content {
    border: 1px solid #A5B2D2;
    padding: 40px 30px 25px 40px;
}

.sab-work-page .portfolio-sab .items .items--content p {
    margin-bottom: 25px;
}

.sab-work-page .portfolio-sab .portfolio-sab--row button {
    cursor: default;
    width: 145px;
    height: 48px;
    font-weight: 600;
}

.sab-work-page .portfolio-sab .portfolio-sab--row .btn-blue,
.sab-work-page .portfolio-sab .items .btn-blue {
    font-size: 14px;
    background-color: #224390;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    float: right;
    padding: 15px 40px;
}

.sab-work-page .portfolio-sab .pagination__next__button {
    text-align: center;
    margin: 40px 0;
}

.sab-work-page .portfolio-sab .pagination__next__button button {
    font-size: 14px;
    background-color: #224390;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    padding: 15px 40px;
    text-align: center;
}

.sab-work-page .portfolio-sab .portfolio-sab--filter .btn-blue,
.sab-work-page .portfolio-sab .items .btn-blue:hover {
    opacity: .9;
}

.sab-work-page .service-sab.sab-green-bg {
    background-color: #5acf9e;
}

.sab-work-page .service-sab button {
    color: #127149;
}

.sab-work-page .count-sab {
    margin-bottom: 100px;
}

.sab-work-page .count-sab .col.has-border.border-left.border-right {
    border-left: 2px solid #dadada;
    border-right: 2px solid #dadada;
}

.sab-work-page .foot-el-sab {
    background-color: #19377d;
    color: white;
    padding: 75px 0;
}

.sab-work-page .foot-el-sab h3 {
    text-align: center;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .sab-work-page .hero-images {
        background-size: cover;
    }

    .sab-work-page .portfolio-sab .portfolio-sab--filter li {
        margin-bottom: 15px;
    }

    .sab-work-page .foot-el-sab .col-sm-4 {
        margin-bottom: 30px;
    }

    .sab-work-page .portfolio-sab {
        margin-top: 0;
    }

    .sab-work-page .hero-images .hero-slider .swiper-button-next {
        right: -128px;
        -webkit-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.55);
    }
}

/* End of Works Page */


/*** Footer ***/
footer {
    background: #224390;
    color: #FFFFFF;
    padding: 165px 0 13px;
    position: relative;
}

footer .socmed-sab li {
    display: inline-block;
    padding-right: 40px;
    font-size: 40px;
}

footer .socmed-sab li a {
    color: #FFFFFF;
}

footer .link-sab {
    line-height: normal;
}

footer .link-sab li {
    margin-bottom: 16px
}

footer .link-sab a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}

footer .link-sab a:hover {
    cursor: pointer;
}

footer .link-sab a:hover:after {
    background: #FFFFFF;
    width: 100%;
}

footer .link-sab a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #FFFFFF;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

footer p {
    margin: 0 0 17px 0;
    font-weight: 400;
    font-size: 18px
}

footer .hr-sab {
    border-top: solid 1px #ffffff17;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
}

footer .widget-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

footer .copyright {
    font-weight: 300;
    font-size: 15px
}

footer .copyright a{ color: #fff; text-decoration: none; }
footer .copyright a:hover{ text-decoration: underline; }

.to-top {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    line-height: 48px;
    background: #516ba7;
    position: absolute;
    right: 10px;
    bottom: 0px;
    text-align: center;
    cursor: pointer;

}
@media (max-width: 1024px) {

    /* CEO */
    .info-people { padding: 20px;}
    .info-people h5 {font-size: 44px; line-height: 1.1; margin-bottom: 0;}
    .info-people h6 { font-size: 26px; margin-bottom: 20px;}
    .info-people .sp { padding: 0 0 0 10px;}

    /* Contact form and map */
    .contact-sab .contact-details-sab{max-width: 75%;}
    .sab-about-page .container-map img {
        left: -550px;
    }
    

    /* Footer */
    footer{padding: 125px 0 13px;}
    footer .socmed-sab li{ padding-right: 25px; }
    
    
}

@media (max-width: 768px) {

    .bg-hero-images {
        background-position: top right;
        background-position-y: 60px;
    }

    .tools-sab .col-lg-4:nth-child(2n) {
        border-right: transparent;
    }
    .tools-sab .col-lg-4.last{border-bottom: transparent;}

    dl.info dt{ width: 100%; padding: 0; margin-bottom: 0; }

    /* About */
    .team-list li{ margin-bottom: 50px; }

    /* work home */
    .works-sab .swiper-pagination{ top: 8px; }

    /* Services page*/
    .img-our-process {
        overflow: inherit;
        margin: 0 -40px;
    }    
    /* Form and Map*/
    .info-mail, .info-mail, .info-mail{ display: none; }
    .contact-sab .container-map { display: block; height: 400px; }
    .sab-about-page .container-map img {left: -750px;}

    /* Footer */
    footer{padding: 65px 0 13px;}
    footer .wf-logo{ text-align: center; }
    .footer-wrapper [class*="col-"] { margin-bottom: 30px; }
}

@media (max-width: 480px) {

    h2, .h2 {
        font-size: 42px;
        line-height: 1.2;
    }

    /* Menu Mobile*/
    .menu.slide-menu ul{ margin-bottom: 25px; }
    .menu.slide-menu ul.nav-round li{ display: inline-block; }

    /* Home under Slider*/
    .about-sab h2 {
        font-size: 38px;
        line-height: 1.4;
        font-weight: bold;
    }

    /* About */
    .title-section { margin-bottom: 30px; line-height: 1;}
    .team-list li{ margin-bottom: 25px; margin-right: 15px; width: 180px; }
    .team-list li:nth-child(2n){margin-right:0;}
    .team-list img{ margin:0 auto 32px;  }
    .social-text{ display: block; margin: 0 0 20px; }
    .info-people .sp {padding: 0 15px 0 0;}

    /* Works in Home */
    .swiper-desc{text-align: left; top: 1px; left: 1px;}

    /* Work page*/
    .sab-work-page section.hero-images .swiper-slide{ text-align: center; }
    .sab-work-page section.hero-images .swiper-slide img { width: 90%!important; }

    /* Tech */
    .tools-sab .mar-btm-80{ margin-bottom: 0; }
    .tools-sab .col-lg-4.last{border-bottom: transparent;}

    /* Services */
    .services-section-sab h2{ font-size: 42px; line-height: 1.3; margin-bottom: 20px }

    /* Counter */
    .count-sab h6{ font-size: 12px; }

    /* Form and Map*/
    .info-mail, .info-mail, .info-mail{ display: none; }
    .container-map { height: 300px; }
    .sab-about-page .container-map img {left: -950px;}

    /* Footer */
    footer{ text-align: center; }

    footer .link-sab li {
        display: inline-block;
        padding: 0 5px;
    }
    footer .link-sab li a{ font-size: 16px }
    footer .socmed-sab li {  padding: 0 25px;}

    footer .copyright{ font-size: 12px; }

    .to-top{ bottom: 40px; }

}

@media (max-width: 375px) {
    .header-sab-slide .swiper-slide {
        width: 95%;
        margin-left: 20px;
        margin-top: 0px;
    }
    .team-list li{ margin-bottom: 25px; margin-right: 15px; width: 140px; }
    .bg-hero-images {
        background-position: top right;
        background-position-y: 75px;
    }
}


/*******/
.mar-top-3p {
    margin-top: 3%;
}

.mar-top-5 {
    margin-top: 5px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-12 {
    margin-top: 12px;
}

.mar-top-15 {
    margin-top: 15px;
}

.mar-top-min15 {
    margin-top: -15px;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-top-50 {
    margin-top: 50px;
}

.mar-right-10 {
    margin-right: 10px;
}

.mar-left-10 {
    margin-left: 10px;
}

.mar-btm-0 {
    margin-bottom: 0;
}

.mar-btm-10 {
    margin-bottom: 10px;
}

.mar-btm-15 {
    margin-bottom: 15px;
}

.mar-btm-20 {
    margin-bottom: 20px;
}

.mar-btm-35 {
    margin-bottom: 35px;
}

.mar-btm-50 {
    margin-bottom: 50px;
}

.mar-btm-80 {
    margin-bottom: 80px;
}

.mar-pad-70 {
    padding-bottom: 55px;
}

.mar-pad-35 {
    padding-bottom: 35px;
}

.no-mar-right {
    margin-right: 0 !important;
}

.no-mar-btm {
    margin-bottom: 0 !important;
}

.no-pad-right {
    padding-right: 15px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-btm-10 {
    padding-bottom: 10px;
}

.pad-btm-50 {
    padding-bottom: 50px;
}

.no-pad {
    margin: 0;
    padding: 0;
    width: 100%;
}

.center-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.mar-top-3p {
    margin-top: 3%;
}

.mar-top-5 {
    margin-top: 5px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-12 {
    margin-top: 12px;
}

.mar-top-15 {
    margin-top: 15px;
}

.mar-top-min15 {
    margin-top: -15px;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-top-50 {
    margin-top: 50px;
}

.mar-right-10 {
    margin-right: 10px;
}

.mar-left-10 {
    margin-left: 10px;
}

.mar-btm-0 {
    margin-bottom: 0;
}

.mar-btm-10 {
    margin-bottom: 10px;
}

.mar-btm-15 {
    margin-bottom: 15px;
}

.mar-btm-20 {
    margin-bottom: 20px;
}

.mar-btm-50 {
    margin-bottom: 50px;
}

.mar-pad-70 {
    padding-bottom: 55px;
}

.no-mar-right {
    margin-right: 0 !important;
}

.no-mar-btm {
    margin-bottom: 0 !important;
}

.no-pad-right {
    padding-right: 15px;
}

.no-pad-left {
    padding-left: 15px;
}

@media (min-width: 768px) {
    .no-pad-left {
        padding-left: 0;
    }
    .no-pad-right {
        padding-right: 0;
    }
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-btm-10 {
    padding-bottom: 10px;
}

.pad-btm-50 {
    padding-bottom: 50px;
}

.no-pad {
    margin: 0;
    padding: 0;
    width: 100%;
}

.center-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.font-bold {
    font-weight: 700;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}