doctype html

html lang="en" 
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
    meta content="" name="description"
    meta content="" name="author"
    link href="#" rel="icon"
    title SAB
    /! Bootstrap core CSS
    link href="../assets/stylesheets/css/grid.min.css" rel="stylesheet"
    /! Custom styles for this template
    link href="assets/stylesheets/css/style.css" rel="stylesheet"
    link href="assets/stylesheets/css/animate.css" rel="stylesheet"

    link href="assets/stylesheets/css/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"
    link href="assets/stylesheets/css/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet"

    link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,700,700i,800,800i" rel="stylesheet"
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"
  body
    header.nav-sab
      .container-fluid
        .row.align-items-center
          .col.text-left
            img src="images/logo.png"
          .col.text-menu.text-right.visible-xs
            | Menu
          .col.text-center.hidden-xs
            ul.nav.nav-list
              li
                a.active href="#"  Product 
              li
                a href="#"  Service 
              li
                a href="#"  About 
              li
                a href="#"  Works
          .col.text-right.hidden-xs
            ul.nav.nav-round
              li
                a
                  i class="fas fa-arrow-down"
              li
                a
                  i class="fas fa-phone"
              li
                a
                  i class="fas fa-envelope"
    section.hero-images
      .fadeOut.owl-carousel.owl-theme
        .item#parallax
          .item-city
            img src="images/city.png" class="city-img"
          .item-whale
            img src="images/paus.png" class="par whale-img"
          .item-name
            h1 Sinergi Antar 
              </br> Benua
            p
              | Making authentic product in our hand. 
        .item
          .item-city
            img src="images/city-dark.png" class="city-img"
          .item-name
            h1 Increase your 
              </br> business
            p
              | Grow up your link and more.
        .item
          .item-city
            img src="images/mountain-grid.png" class="city-img"
          .item-name
            h1 Engage people 
              </br> on your business
            p
              | Getting Relationship is our goal.
    section.about-sab
      .container
        .row
          .offset-sm-1.col-sm-9
            h2
              | SAB is a stealth deep learning 
              </br> company building technologies 
            p
              | * However, we built all of the AI elements of this identity
        .row
          .offset-sm-1.col-sm-5
            br
            | THE BACKSTORY
            h3
              | A dynamic brand identity 
              </br> designed to mirror the traits 
              </br> of human personality.
          .col-sm-5
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.
            p
              | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.

    section.works-sab
      .container
        .row
          .offset-sm-1.col-sm-11
            h2
              | Works
      .container-fluid
        .row
          .col-sm-3
            ul.nav-works-sab
              li
                a href="#"
                  | Website
              li
                a href="#"
                  | E-commerce
              li
                a href="#"
                  | Custom Software
              li
                a href="#"
                  | Mobile Apps
              li
                a href="#"
                  | Marketing
              li
                a href="#"
                  | Content Creation
          .col-sm-9
            .works-sab-slide.owl-carousel.owl-theme
              .item
                img src="images/slide1.jpg" class="city-img"
                h3
                  | Beride Project Website
                p
                  | Duis dapibus eros non nisi modern sollicitudin sollicitudin. 
              .item
                img src="images/slide2.jpg" class="city-img"
                h3
                  | Pakde Project Website
                p
                  | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
              .item
                img src="images/slide3.jpg" class="city-img"
                h3
                  | Batik Project Website
                p
                  | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
              .item
                img src="images/slide1.jpg" class="city-img"
                h3
                  | Beride Project Website
                p
                  | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
              .item
                img src="images/slide2.jpg" class="city-img"
                h3
                  | Pakde Project Website
                p
                  | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
              .item
                img src="images/slide3.jpg" class="city-img"
                h3
                  | Batik Project Website
                p
                  | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
    section.works-sab
      .container
        .row
          .offset-sm-1.col-sm-11
            h2
              | Service
        .row
          .col-sm-4
            img src="images/icon-1.png" class="center-img mar-pad-70"
            h3
              | Website
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/icon-2.png" class="center-img mar-pad-70"
            h3
              | E-Commerce
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/icon-3.png" class="center-img mar-pad-70"
            h3
              | Custom Software
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/icon-4.png" class="center-img mar-pad-70"
            h3
              | Mobile Apps
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/icon-5.png" class="center-img mar-pad-70"
            h3
              | Marketing
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/icon-6.png" class="center-img mar-pad-70"
            h3
              | Content Creation
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
    section.client-sab
      .container
        .row
          .col-sm-12
            h2.text-center
              | Our Precious Client
            img src="images/logo-client.png" class="city-img"
    section.testimony-sab
      .testi-abs.hidden-xs
        img src="images/people.jpg" class="city-img"
      .testimony-sab-slide.owl-carousel.owl-theme
        .item
          h2
            | Testimonials
          p
            | “ Dapibus eros non nisi modern sollicitudin sollicitudin. Moment of life :) ”
          b
            | - Rony Mouldy
        .item
          h2
            | Testimonials
          p
            | “ Many Thanks ”
          b
            | - Aurieala Montique
        .item
          h2
            | Testimonials
          p
            | “ Wow amazing content ever, I can't believe work with sab ”
          b
            | - Meidana Moasaas
    section.count-sab
      .container
        .row
          .col
            h2.text-center
              | 100+
            p.text-center.mar-btm-50
              | Project Delivered
          .col
            h2.text-center
              | 189+
            p.text-center.mar-btm-50
              | Success Client
          .col
            h2.text-center
              | 283+
            p.text-center.mar-btm-50
              | Testimonials
        .row
          .col
            img src="images/hr.png" class="center-img"
    section.technology-sab
      .container
        .row
          .col-sm-12
            h2.text-center
              | Technology
        .row.align-items-center
          .col
            | &nbsp;
          .col-sm-5
            p.text-center
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin. Many desktop publishing packages and web page editors now. Learn More
          .col
            | &nbsp;
    section.works-sab.tools-sab
      .container.mar-top-50
        .row
          .col-sm-4
            img src="images/tools-1.png" class="mar-pad-70"
            h3
              | WordPress
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/tools-2.png" class="mar-pad-70"
            h3
              | Laravel
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/tools-3.png" class="mar-pad-70"
            h3
              | Android
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/tools-4.png" class="mar-pad-70"
            h3
              | WooCommerce
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/tools-5.png" class="mar-pad-70"
            h3
              | Shopify
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4
            img src="images/tools-6.png" class="mar-pad-70"
            h3
              | Magento
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4.no-border-btm
            img src="images/tools-7.png" class="mar-pad-70"
            h3
              | Java
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
          .col-sm-4.no-border-btm
            img src="images/tools-8.png" class="mar-pad-70"
            h3
              | CodeIgniter
            p.mar-btm-50
              | Duis dapibus eros non nisi modern sollicitudin sollicitudin.
    section.news-sab
      .container
        h2.text-center
          | News & Update
        .row
          .col-sm-4
            img src="images/news-1.jpg"
            .row
              .col-6.col-sm-6
                .box-date
                  .box-number
                    | 23
                  .box-month
                    .month-top
                      | Mar
                    .year-bottom
                      | 2019
              .col-6.col-sm-6
                h3.text-right
                  | Technology
            .row
              .col-sm-12
                p.mar-btm-50 
                  | Dapibus eros non nisi modern new eras sollicitudin, media time. 
          .col-sm-4
            img src="images/news-2.jpg"
            .row
              .col-6.col-sm-6
                .box-date
                  .box-number
                    | 24
                  .box-month
                    .month-top
                      | Mar
                    .year-bottom
                      | 2019
              .col-6.col-sm-6
                h3.text-right
                  | New Event
            .row
              .col-sm-12
                p.mar-btm-50 
                  | Dapibus eros non nisi modern new eras sollicitudin, media time. 
          .col-sm-4
            img src="images/news-3.jpg"
            .row
              .col-6.col-sm-6
                .box-date
                  .box-number
                    | 25
                  .box-month
                    .month-top
                      | Mar
                    .year-bottom
                      | 2019
              .col-6.col-sm-6
                h3.text-right
                  | Digital
            .row
              .col-sm-12
                p.mar-btm-50 
                  | Dapibus eros non nisi modern new eras sollicitudin, media time. 
          .col-sm-4
            img src="images/news-1.jpg"
            .row
              .col-6.col-sm-6
                .box-date
                  .box-number
                    | 23
                  .box-month
                    .month-top
                      | Mar
                    .year-bottom
                      | 2019
              .col-6.col-sm-6
                h3.text-right
                  | Technology
            .row
              .col-sm-12
                p.mar-btm-50 
                  | Dapibus eros non nisi modern new eras sollicitudin, media time. 
          .col-sm-4
            img src="images/news-2.jpg"
            .row
              .col-6.col-sm-6
                .box-date
                  .box-number
                    | 24
                  .box-month
                    .month-top
                      | Mar
                    .year-bottom
                      | 2019
              .col-6.col-sm-6
                h3.text-right
                  | New Event
            .row
              .col-sm-12
                p.mar-btm-50 
                  | Dapibus eros non nisi modern new eras sollicitudin, media time. 
          .col-sm-4
            img src="images/news-3.jpg"
            .row
              .col-6.col-sm-6
                .box-date
                  .box-number
                    | 25
                  .box-month
                    .month-top
                      | Mar
                    .year-bottom
                      | 2019
              .col-6.col-sm-6
                h3.text-right
                  | Digital
            .row
              .col-sm-12
                p.mar-btm-50 
                  | Dapibus eros non nisi modern new eras sollicitudin, media time. 
    section.contact-sab
      .container-fluid
        .row.row-eq-height
          .col-sm-6.bg-blue-sab
            .contact-details-sab.text-center
              h2
                | Contact Us !
              input type="text" placeholder="Your Name" class="form-default mar-btm-15"
              input type="email" placeholder="Your Email" class="form-default mar-btm-15"
              button.btn.btn-green.mar-btm-15
                | Submit Form
              | Duis dapibus eros non nisi  Learn More
          .col-sm-6
            .container-map
              #map_container
              #map
    section.service-sab
      .container
        .button-sab-center
          button.btn.btn-white.text-center
            | Go to our Service
    footer
      .container
        .row
          .col-sm-4.text-center
            img src="images/sab-white.png"
          .col-sm-2
            ul.link-sab
              li 
                a About
              li 
                a Works
              li 
                a Career
              li 
                a Services
              li 
                a People
          .col-sm-2
            ul 
              li 
                b
                  | Address
              li.mar-top-20
                | Rockville Centre VII 435T Lake Success
              li.mar-top-20
                | +99 9875 7753 / + 99 6756 8785
          .col-sm-2
            p 
              b
                | Connect With Us
            ul.socmed-sab
              li.hidden-xs
                a
                  i class="fab fa-facebook"
              li.hidden-xs
                a
                  i class="fab fa-instagram"
              li.hidden-xs
                a
                  i class="fab fa-pinterest"
              li.hidden-xs
                a
                  i class="fab fa-dribbble"
        hr.hr-sab
        .row
          .col-sm-12
            p 2019 @Codeopus All Right Reserved
    

    script src="assets/javascripts/jquery-3.2.1.js"
    script src="assets/javascripts/custom-min.js"
    script src="assets/stylesheets/css/owlcarousel/owl.carousel.js"
    script src="assets/javascripts/TweenMax.min.js"
    script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"

