// ==================================================
// Fonts
// ==================================================

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../../../fonts/AvenirLTStd-Book.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir bold';
  src: url('../../../fonts/AvenirLTStd-Black.ttf');
  font-weight: normal;
  font-style: normal;
}